# Auto detect text files and perform LF normalization
* text=auto

# Binary files - prevent line ending conversion
*.apk binary
*.rar binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg text eol=lf
